<div class='container-narrow py-10'>
  <section class='card card-body'>
    <%= form_for @user, url: sign_in_path do |f| %>
      <h2 class='mb-6 text-center'>Zaloguj się</h2>
      <div class='space-y-4'>
        <div>
          <%= f.label :username, 'Login', class: 'label' %>
          <%= f.text_field :username, placeholder: 'Login', class: 'field', autocomplete: 'off', autocapitalize: 'none', tabindex: 1, autofocus: true %>
        </div>
        <div>
          <%= f.label :password, 'Hasło', class: 'label' %>
          <%= f.password_field :password, placeholder: 'Hasło', class: 'field', autocomplete: 'off', tabindex: 2 %>
        </div>
        <%= f.submit 'Zaloguj się', class: 'btn btn-brand btn-block', tabindex: 3 %>
      </div>
    <% end %>
  </section>
</div>
