<% content_for :menu do %>
  <% if Current.user.present? %>
    <div data-nav-menu class='hidden w-full lg:flex lg:w-auto lg:flex-1 lg:items-center lg:justify-between'>
      <ul class='flex flex-col gap-1 lg:flex-row lg:items-center'>
        <li>
          <%= link_to home_path, class: "nav-link #{'nav-link-active' if s == 'info'}" do %>
            <i class='fa fa-info-circle'></i> Informacje
          <% end %>
        </li>
        <li>
          <%= link_to matches_path, class: "nav-link #{'nav-link-active' if s == 'matches'}" do %>
            <i class='fa fa-futbol-o'></i> Mecze
          <% end %>
        </li>
        <li>
          <%= link_to ranking_path, class: "nav-link #{'nav-link-active' if s == 'ranking'}" do %>
            <i class='fa fa-trophy'></i> Ranking
          <% end %>
        </li>
        <% if can? :create, User %>
          <li>
            <%= link_to users_path, class: "nav-link #{'nav-link-active' if s == 'users'}" do %>
              <i class='fa fa-envelope-o'></i> Zaproszenia
            <% end %>
          </li>
        <% end %>
      </ul>

      <div class='mt-2 flex items-center gap-1 border-t border-white/20 pt-2 lg:mt-0 lg:border-0 lg:pt-0'>
        <% standing = current_user_standing %>
        <div class='px-3 text-sm leading-tight text-white/90'>
          <div class='font-semibold'><i class='fa fa-user'></i> <%= Current.user.username %></div>
          <% if standing && standing[:rank] %>
            <%= link_to ranking_path, class: 'block text-xs text-white/70 hover:text-white' do %>
              <%= standing[:rank] %>. miejsce · <%= points_display(standing[:points]) %> pkt
            <% end %>
          <% end %>
        </div>
        <%= link_to sign_out_path, method: 'delete', class: 'nav-link' do %>
          <i class='fa fa-sign-out'></i> Wyloguj
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
