<div class='container-narrow py-10'>
  <section class='card card-body'>
    <%= form_for @user, url: invitation_path, html: { method: :put } do |f| %>
      <h2 class='text-center'>Ustaw hasło</h2>
      <p class='mb-6 mt-1 text-center text-muted'>Cześć <span class='font-semibold text-ink'><%= @user.username %></span>!</p>

      <%= f.hidden_field :username %>
      <div class='space-y-4'>
        <div>
          <%= f.label :password, 'Hasło', class: 'label' %>
          <%= f.password_field :password, class: 'field', autocomplete: 'off', placeholder: 'Hasło', tabindex: 1 %>
        </div>
        <div>
          <%= f.label :password_confirmation, 'Powtórz hasło', class: 'label' %>
          <%= f.password_field :password_confirmation, class: 'field', autocomplete: 'off', placeholder: 'Powtórz hasło', tabindex: 2 %>
        </div>
        <%= f.submit 'Zapisz hasło', class: 'btn btn-brand btn-block', tabindex: 3 %>
      </div>
    <% end %>
  </section>
</div>
