<%= render partial: 'shared/menu', locals: { s: 'matches' } %>
<% content_for :title, 'Mecze' %>

<div data-tabs>
  <h1 class='mb-4 flex items-center gap-2'>
    <i class='fa fa-futbol-o text-brand'></i> Mecze
  </h1>

  <div class='mb-5 flex border-b border-line'>
    <button data-tab='future' type='button' class='tab tab-active'>
      Aktualne <span class='badge-count'><%= @matches_not_finished.size %></span>
    </button>
    <button data-tab='finished' type='button' class='tab'>
      Zakończone <span class='badge-count'><%= @matches_finished.size %></span>
    </button>
  </div>

  <div data-panel='future'>
    <%= render partial: 'matches', locals: { matches: @matches_not_finished } %>
  </div>
  <div data-panel='finished' class='hidden'>
    <%= render partial: 'matches', locals: { matches: @matches_finished } %>
  </div>
</div>
